ul li::before {
	content: "\2610" !important; /* Add content: \2022 is the CSS Code/unicode for a bullet */

	color: #17a2b8; /* Change the color */
	font-weight: normal; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1rem; /* Also needed for space (tweak if needed) */
	margin-right: 1rem;
	margin-top: 0;
}
.collection .collection-item {
	line-height: 1.5rem !important;
}

span.del::after {
	content: "\00d7";
	color: #17a2b8;
	margin-right: -4rem;
	font-weight: bolder;
}

span.del:hover::after {
	color: red;
}
